#campaignDetail{
    .campaign-detail{
        margin: auto;
        max-width: 872px;
        .campaign-detail_name{
            padding-bottom: $p4;
            @include myfont($SF_Pro, normal, 600, 24px, 32px, $black);
        }
        .campaign-detail_time{
            padding-bottom:$p12;
            @include myfont($SF_Pro, normal, 500, 12px, 16px, $gray900);
        }
        .campaign-detail_img{
            img{
                width: 100%;
                height: 392px;
                object-fit: cover;
            }
        }
        .campaign-detail_info{
            padding: $p20 0 $p24 0;
            @include myfont($SF_Pro, normal, 400, 16px, 24px, $gray900);
        }
        .campaign-detail_counter{
            @include flex-box(initial,center);
            .chislo{
                width: 44px;
                height: 48px;
                color: $black;
                padding: $p12;
                text-align: center;
                display: inline-block;
                background-color: $gray200;
                @include myfont($SF_Pro, normal, 600, 16px, 24px, $black);
            }
            .counter-title{
                padding-top: $p4;
                text-align: center;
                @include myfont($SF_Pro, normal, 400, 12px, 16px, $gray900);
            }
            span{
                padding: 0 $p8 $p20 $p8;
                color: $gray900;
                font-size: 16px;
            }
        }
    }
}